<section class="jobseek bg-cover">
  <div class="card" style="margin:3vh;padding:5vh">
    <!-- <img class="card-img-top" src="abcd.jpg" alt="Card image cap"> -->
    <div class="card-body">
      <form>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Personal Information</h5>
                  <form class="form-inline">
                      <label>Name</label>
                      <div class="form-group mr-2">
                          <label class="sr-only" for="inputName">FirstName</label>
                          <input type="firstname"  name="firstname" [(ngModel)]="jobseekerObject.firstname" class="form-control" id="inputName" placeholder="firstName">
                      </div>
                      <div class="form-group mr-2">
                          <label class="sr-only" for="inputName">LastName</label>
                          <input type="name" name="lastname" [(ngModel)]="jobseekerObject.lastname" class="form-control" id="inputName" placeholder="lastName">
                      </div>
                      </form>
                    <div class="form-inline">
                        <label>Email</label>
                        <input type="email" name="email" [(ngModel)]="jobseekerObject.email" class="form-control" placeholder="Email">
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                 <form class="form-inline">
                        <label>Address</label> 
                      <div class="form-group mr-2">
                        <input type="text" name="address" [(ngModel)]="jobseekerObject.address" class="form-control"
                        placeholder="Address">
                    </div>
                 </form>
                 <div class="form-inline">
                        <label >Telephone</label>
                        <div class="form-group mr-2">
                            <input type="telephone" name="phone" [(ngModel)]="jobseekerObject.phone" class="form-control"
                            placeholder="Telephone no:">
                        </div>
                      </div>

                      <form class="form-inline">
                          <div class="row">
                              <label>Gender</label>
                              <input type="radio" name="gender" name="male" [(ngModel)]="jobseekerObject.gender" value="male">
                              Male<br>
                              <input type="radio" name="gender" name="female" [(ngModel)]="jobseekerObject.gender" value="female">
                              Female<br>
                              <input type="radio" name="gender" name="other" [(ngModel)]="jobseekerObject.gender" value="other">
                              Other
                          </div>
                      </form>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">JobPost</h5>
                    <select class="selectpicker" data-selected-text-format="count" name="post"
                    [(ngModel)]="jobseekerObject.post">
                    <option>Developer</option>
                    <option>Q.A</option>
                    <option>DBA</option>
                  </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Qualification</h5>
                    <div class="col">
                        <select class="selectpicker" data-selected-text-format="count" name="qualification"
                          [(ngModel)]="jobseekerObject.qualification">
                          <option>Bachelor</option>
                          <option>Master</option>
                        </select>
                      </div>
                  </div>
                </div>
              </div>
            </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Skills</h5>
                  <input type="radio" name="low" [(ngModel)]="jobseekerObject.skills" class="radio-hide" name="progress"
                    value="ten" id="ten" unchecked>
                  <label class="label-text" for="ten">Low</label>

                  <input type="radio" name="medium" [(ngModel)]="jobseekerObject.skills" class="radio-hide"
                    name="progress" value="fifty" id="fifty">
                  <label class="label-text" for="fifty">Medium</label>

                  <input type="radio" name="high" [(ngModel)]="jobseekerObject.skills" class="radio-hide"
                    name="progress" value="onehundred" id="onehundred">
                  <label class="label-text" for="onehundred">High</label>
                  <div class="progress">
                    <div class="progress-bar"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Interactivity</h5>
                  <input type="radio" name="low" [(ngModel)]="jobseekerObject.interactivity" class="radio-hide1"
                    name="progress1" value="twentyfive" id="twentyfive">
                  <label class="label-text" for="twentyfive">Low</label>

                  <input type="radio" name="medium" [(ngModel)]="jobseekerObject.interactivity" class="radio-hide1"
                    name="progress1" value="sixty" id="sixty">
                  <label class="label-text" for="sixty">Medium</label>

                  <input type="radio" name="high" [(ngModel)]="jobseekerObject.interactivity" class="radio-hide1"
                    name="progress1" value="ninetyfive" id="ninetyfive">
                  <label class="label-text" for="ninetyfive">High</label>
                  <div class="progress">
                    <div class="progress-bar"></div>
                  </div>

                </div>
              </div>
            </div>
          </div> 
        </div>

        <button type="submit" class="btn btn-primary btn-lg" (click)="saveJobseeker()">Submit</button>
      </form>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <h1 *ngIf="isQualified">Qualified</h1>
    <h1 *ngIf="!isQualified">Not Qualified</h1> -->
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email Address</th>
        <th>Job Post</th>
        <th>Qualification</th>
        <th>Experience</th>
        <th>Skill</th>
        <th>Interactivity</th>
      </tr>
      <tr *ngFor="let data of jobseekerList">
          <th>{{data.id}}</th>
          <th>{{data.name}}</th>
          <th>{{data.emailAddress}}</th>
          <th>{{data.jobPost}}</th>
          <th>{{data.qualification}}</th>
          <th>{{data.experience}}</th>
          <th>{{data.skill}}</th>
          <th>{{data.interactivity}}</th>
      </tr>
    </table>

  </div>
</ng-template>