
    <section class="jobseek bg-cover" style="background-image: url(assets/images/abcd.jpg);">
      <div class = "container">
        <div class="wrapper">
          <form>
            <div class="form-group">
              <h3>Personal Information</h3>
              <div class="row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
              </div>
               <div class="form-group">
        <h3>Gender</h3>
          <input type="radio" name="gender" value="male"> Male<br>
          <input type="radio" name="gender" value="female"> Female<br>
          <input type="radio" name="gender" value="other"> Other
      </div>
              <div class="row">
                <div class="col">
                  <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Address">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input type="tel" class="form-control" placeholder="Telephone no:">
                </div>
              </div>
            </div>
            <div class="form-group">
              <h3>Highest Degree</h3>
              <div class="form-row">

                <div class="col-4">
                  <input type="text" class="form-control" placeholder="Level">
                </div>
                <div class="col-4">
                  <input type="text" class="form-control" placeholder="Year">
                </div>
                <div class="col-4">
                  <input type="text" class="form-control" placeholder="Grades">
                </div>
              </div>
            </div>
            <div class="form-group">
              <h3>Training</h3>
              <div class="form-row">
                <div class="col-6">
                  <input type="text" class="form-control" placeholder="Courses">
                </div>
                <div class="col-6">
                  <input type="text" class="form-control" placeholder="Duration">
                </div>
              </div>
            </div>
            <div class="form-group">
               <h3>Experience</h3>
            <div class="row">
              <div class="col-3">
                <input type="text" class="form-control" placeholder="Post">
              </div>
              <div class="col-3">
                <input type="text" class="form-control" placeholder="Employer">
              </div>
              <div class="col-3">
                <input type="email" class="form-control" placeholder="Duration">
              </div>
              <div class="col-3">
                <input type="text" class="form-control" placeholder="Project">
              </div>
            </div>
              </div>
<div class="form-group">
          <div class="form-row">
            <div class="col">
              <h4>Skills</h4>
              <div class="container">

                <input type="radio" class="radio-hide" name="progress" value="ten" id="ten" checked>
                <label class="label-text" for="ten">Low</label>

                <input type="radio" class="radio-hide" name="progress" value="fifty" id="fifty">
                <label class="label-text" for="fifty">Medium</label>

                <input type="radio" class="radio-hide" name="progress" value="onehundred" id="onehundred">
                <label class="label-text" for="onehundred">High</label>
                <div class="progress">
                  <div class="progress-bar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <h4>Interactivity</h4>
          <div class="container">
            <input type="radio" class="radio-hide1" name="progress1" value="twentyfive" id="twentyfive">
            <label class="label-text" for="twentyfive">Low</label>

            <input type="radio" class="radio-hide1" name="progress1" value="sixty" id="sixty">
            <label class="label-text" for="sixty">Medium</label>

            <input type="radio" class="radio-hide1" name="progress1" value="ninetyfive" id="ninetyfive">
            <label class="label-text" for="ninetyfive">High</label>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
          </div>
        </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </section>

