<section>
        <div class="card" style="margin:5vh;padding:10vh">
                <img class="card-img-top" src="a.jpg" alt="Card image cap">
                <div class="card-body">
                        <p>
                                Applicant filtering system (AFS) is a type of software that acts as a human resource
                                database for organizing applicants.
                                AFS is used by all sizes of companies to sift through large groups of job applicants,
                                and to organize and contact those applicants.
                                The main goal of AFS is to act as a tool designed to simplify the life of the hiring
                                manager or recruiter.
                                Applicant filtering system is designed to search resumes the same way a recruiter or
                                hiring manager would.
                                It is meant to take some of the workload off of the recruiter, so it tries try to mimic
                                the human process.
                                When a recruiter or hiring manager receives a stack of resumes (or an inbox full), he or
                                she won’t likely have the time to read each one thoroughly.
                                So, they can search for keywords related to the position they are looking to fill.
                                AFS makes the searching much easier and automated to save time and avoid any oversights
                                or human error.
                        </p>
                </div>
        </div>
</section>