<form>
  <div class="form-group">
    <label>Company Name:</label>
    <input type="text" class="form-control">
    </div>
    
    <div class="form-group">
      <label>Post :</label>
      <input type="text" class="form-control">
    </div>

      <div class="form-group">
        <label>Gender:</label>
        <form action="">
          <input type="radio" name="gender" value="male"> Male<br>
          <input type="radio" name="gender" value="female"> Female<br>
          <input type="radio" name="gender" value="other"> Other
        </form>
      </div>

        <div class="form-group">
          <label>Education:</label>
          <input type="text" class="form-control">
         </div>
         <form>
          <div class="form-group">
            <label>Experience:</label>
            <input type="text" class="form-control">
            </div>
            
            <div class="form-group">
              <label> Skill:</label>
              <input type="test" class="form-control">
            </div>
        
              <div class="form-group">
                <label>Languages:</label>
                <input type="text" class="form-control">
              </div>
        
                <div class="form-group">
                  <label>Description:</label>
                  <input type="textarea" class="form-control">
                 </div>