<section class="jobseek bg-cover">
  <div class="card" style="margin:3vh;padding:5vh">
    <!-- <img class="card-img-top" src="abc.jpg" alt="Card image cap"> -->
    <div class="card-body">
      <form>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Company's Information</h5>
                  <form class="form-inline">
                    <label>Company Name</label>
                    <input type="text" class="form-control" placeholder="Company Name">
                  </form>
                  <div class="form-inline">
                    <label>Experience</label>
                    <input type="number" class="form-control" placeholder="In Years">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <!-- <h5 class="card-title">Special title treatment</h5> -->
                  <form class="form-inline">
                    <label>Languages</label>
                  <input type="text" class="form-control" placeholder="Languages">
                  </form>
                 
                   <div class="row">
                    <label>Gender</label>
                    <input type="radio" name="gender" value="male"> Male<br>
                    <input type="radio" name="gender" value="female"> Female<br>
                    <input type="radio" name="gender" value="other"> Other
                   </div>
                
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Post</h5>
                  <div class="col">
                    <select class="selectpicker" data-selected-text-format="count" name="post"
                    [(ngModel)]="jobpostObject.post">
                    <option></option>
                    <option>Developer</option>
                    <option>Q.A</option>
                    <option>DBA</option>
                  </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Education</h5>
                  <select class="selectpicker" data-selected-text-format="count" name="education"
                    [(ngModel)]="jobpostObject.education">
                    <option></option>
                    <option>Bachelor</option>
                    <option>Master</option>
                  </select>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-6">
              <div class="card w-100">
                <div class="card-body">
                  <h5 class="card-title">Skills</h5>
                  <input type="radio" class="radio-hide" name="progress" value="ten" id="ten" unchecked>
                  <label class="label-text" for="ten">Low</label>

                  <input type="radio" class="radio-hide" name="progress" value="fifty" id="fifty">
                  <label class="label-text" for="fifty">Medium</label>

                  <input type="radio" class="radio-hide" name="progress" value="onehundred" id="onehundred">
                  <label class="label-text" for="onehundred">High</label>
                  <div class="progress">
                    <div class="progress-bar"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Interactivity</h5>
                  <input type="radio" class="radio-hide1" name="progress1" value="twentyfive" id="twentyfive">
                  <label class="label-text" for="twentyfive">Low</label>

                  <input type="radio" class="radio-hide1" name="progress1" value="sixty" id="sixty">
                  <label class="label-text" for="sixty">Medium</label>

                  <input type="radio" class="radio-hide1" name="progress1" value="ninetyfive" id="ninetyfive">
                  <label class="label-text" for="ninetyfive">High</label>
                  <div class="progress">
                    <div class="progress-bar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div>
          <label for="exampleFormControlTextarea1"><h5>Description</h5></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </form>
    </div>
  </div>
</section>