 <div>
      <!-- <body>   
          <div class="header">
              <a href="#default" class="logo">Applicant Filtering System</a>
              <div class="header-right">
                <a class="active" href="home">Home</a>
                <a  style="cursor: pointer;"href="jobseeker">Job Seeker</a>
                <a href="about">About</a>
              </div>
            </div>
            
          </body> -->
          <header>
              <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                  <div class="container">
                      <a class="navbar-brand" href="#"><!-- <img src="assets/images/cedrus.png"> -->Applicant Filtering System</a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav ml-auto">
                              <li class="nav-item active">
                                  <a class="nav-link" href="page">Home</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="aboutus">About Us</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="jobseeker">Job Seeker</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="postjob">Job Post</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="login">Login</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </nav>
          </header>
  
          <!-- <section class="banner bg-cover" style="background-image: url(assets/images/hgf.jpg);">
            <div class="container">
                <div class="banner-details">
                    <h2>welcome TO</h2>
                    <h1>Applicant Tracking System</h1>
                </div>
            </div>
        </section> -->
        
  <div><router-outlet></router-outlet></div>
  
  
    <footer class="footer-bs">
      <div class="row">
          <div class="col-md-3 footer-brand animated fadeInLeft">
              <h2>Our Logo</h2>
              <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
              <p>© 2014 BS3 UI Kit, All rights reserved</p>
          </div>
          <div class="col-md-4 footer-nav animated fadeInUp">
              <h4>Menu —</h4>
              
              <div class="col-md-6">
                  <ul class="list">
                      <li><a href="aboutus">About Us</a></li>
                      <li><a href="#">Contacts</a></li>
                      <li><a href="#">Terms & Condition</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-2 footer-social animated fadeInDown">
              <h4>Follow Us</h4>
              <ul>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Instagram</a></li>
                  <li><a href="#">RSS</a></li>
              </ul>
          </div>
          <div class="col-md-3 footer-ns animated fadeInRight">
              <h4>Newsletter</h4>
              <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" style="height:38px" type="button">Subs</button>
                    </span>
                  </div>
          </div>
      </div>
  </footer>
  </div> 
  



