<!-- <div class="navbar">
  <span style="cursor:pointer;" routerLink="home">Home</span>
  <span style="cursor:pointer;" (click)="gotoJobseeker()">Jobseeker</span>

</div> -->
 <!-- <div class="row">
  <div class="col-md-5">
    <router-outlet></router-outlet>
   <div class="col-md-5"> -->
    <!-- <app-jobseeker></app-jobseeker>
    <app-login></app-login>
    <app-postjob></app-postjob> 
  </div> 
 </div> -->

   <div>
    <header class="navbar navbar-toggleable-md navbar-light bg-white  mediumnavigation" style="background-color:#f5aaff;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <!-- <span class="navbar-toggler-icon"></span>  -->
        </button>
        <div class="container">
            <h1 style="font-family:Righteous;font-size:18px;"> Applicant Filtering System</h1>   
            <span style="cursor:pointer;" routerLink="home">Home</span>
            <span style="cursor:pointer;" routerLink="aboutus">About us</span> 
             <span style="cursor:pointer;" routerLink="jobseeker">Jobseeker</span> 
             <span style="cursor: pointer;"routerLink="postjob">Postjob</span>
             <span style="cursor:pointer;" routerLink="login">Sign up</span> 
        </div>
      </header>
    </div> 
    
    <!-- <section class="banner bg-cover" style="background-image: url(D:\Documents\Downloads\cvfiltering\Frontend\image/hgf.jpg);">
      <div class="container">
          <div class="banner-details">
              <h2>welcome TO</h2>
              <h1>Applicant Tracking System</h1>
          </div>
      </div>
  </section> -->

  <footer class="footer-bs">
      <div class="row">
          <div class="col-md-3 footer-brand animated fadeInLeft">
              <h2>Our Logo</h2>
              <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
              <p>© 2014 BS3 UI Kit, All rights reserved</p>
          </div>
          <div class="col-md-4 footer-nav animated fadeInUp">
              <h4>Menu —</h4>
              
              <div class="col-md-6">
                  <ul class="list">
                      <li><a href="aboutus">About Us</a></li>
                      <li><a href="#">Contacts</a></li>
                      <li><a href="#">Terms & Condition</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-2 footer-social animated fadeInDown">
              <h4>Follow Us</h4>
              <ul>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Instagram</a></li>
                  <li><a href="#">RSS</a></li>
              </ul>
          </div>
          <div class="col-md-3 footer-ns animated fadeInRight">
              <h4>Newsletter</h4>
              <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
              <p>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" style="height:38px" type="button">Subs</button>
                    </span>
                  </div>
                </p>
          </div>
      </div>
  </footer>


   <!-- <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <script src="assets/js/script.js"></script>  -->
 
  <div><router-outlet></router-outlet></div>


