/* You can add global styles to this file, and also import other style files */
/* #Media Queries
================================================== */

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width:767px) {
    /*header*/
    header .navbar .navbar-nav{ 
        width: 100%;
    }
}





/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width:1060px) {

}


/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width:960px) {

}
@media only screen and (min-width:768px) and (max-width:1024px) {

}

@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width:767px) {
 
}



/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width:480px) and (max-width:767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width:479px) {


}

@import url('https://fonts.googleapis.com/css?family=Charmonman|Notable|Srisakdi&display=swap');
*{
	font-family: 'Times New Roman', Times, serif;
}

/* 
body{
	font-family: ;
	font-size:;
	color:;
} */

/* h1, h2, h3, h4, h5, h6{
	font-family: 
} */

img{
	max-width:100%;
	height: 400px;
  	width: 100px;
}
ul{
	list-style: none;
	padding-left: 0px;
}
.bg-cover{
	background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.section-title h3{
	color: #3e606b;
	font-size: 40px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	position: relative;
	text-align :center;
}
.section-title h3:after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;					  /*     for taking     */
    right: 0px;					 /*         it         */
    margin: 0 auto; 			/*	      center      */
    height: 1px;
    width: 40px;
    background-color: #3e606b;
}
/*-------------------------------------------------
-----------------------Header----------------------
--------------------------------------------------*/
header li:hover{
	cursor: pointer;
}


/*-------------------------------------------------
-----------------------Banner----------------------
--------------------------------------------------*/
.banner{
	height: 525px;
	position: relative;
}
.banner .banner-details{
	background-color: rgba(0,0,0,0.3);
	color: #fff;
	text-align: center;
	padding: 100px 50px;

	position: absolute;
	top: 50%;
	left: 50%;

	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);

}
.banner .banner-details h2{
	text-transform: uppercase;
}

/*-------------------------------------------------
-----------------------footer----------------------
--------------------------------------------------*/
.footer-bs {
    background-color: #3c3d41;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 0px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}



/*-------------------------------------------------
-----------------------jobseeker.html---------------
--------------------------------------------------*/
.jobseek{
	padding: 100px 0;
}
.jobseek .wrapper{
	background-color: rgba(0,0,0,0.3);
	padding: 20px 50px;
	width: 70%;
	margin: 0 auto;
}
.jobseek form{
	padding: 50px 0;
}
.jobseek form .row{
	margin-bottom: 30px;
}
/*-------------------------------------------------
-----------------------jobpost.html-----------------
--------------------------------------------------*/
.jobpost{
	padding:100px 0;
}
.postjob .wrapper{
	background-color: rgba(0,0,0,0.3);
	padding: 20px;
}
.postjob form{
	padding-top: 100px;
	padding-bottom: 100px;
}.postjob form .row{
	margin-bottom: 30px;
}

jw-modal {
	/* modals are hidden by default */
  
	display: none;
  }
  jw-modal .jw-modal {
	/* modal container fixed across whole screen */
  
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* z-index must be higher than .jw-modal-background */
  
	z-index: 1000;
	/* enables scrolling for tall modals */
  
	overflow: auto;
  }
  jw-modal .jw-modal .jw-modal-body {
	padding: 20px;
	background: #fff;
	/* margin exposes part of the modal background */
  
	margin: 40px;
  }
  jw-modal .jw-modal-background {
	/* modal background fixed across whole screen */
  
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* semi-transparent black  */
  
	background-color: #000;
	opacity: 0.75;
	/* z-index must be below .jw-modal and above everything else  */
  
	z-index: 900;
  }
  body.jw-modal-open {
	/* body overflow is hidden to hide main scrollbar when modal window is open */
  
	overflow: hidden;
	}
	
	
button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

/* Sortable table demo */

th[sortable] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

th[sortable].desc:before, th[sortable].asc:before {
  content: '';
  display: block;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC') no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: left;
  margin-left: -22px;
}

th[sortable].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

/* Filtering table demo */
ngbd-table-filtering span.ngb-highlight {
  background-color: yellow;
}

/* Complete table demo */
ngbd-table-complete span.ngb-highlight {
  background-color: yellow;
}